.container {
  max-width: 800px;
  width: 100%;
  height: 600px;
  background: #667eff;
  border-radius: 1rem;
  box-shadow: 0 20px 25 -5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  background: white;
  color: black;
  padding: 1.5rem;
  text-align: center;
}

.promptContainer {
  padding: 50px;
}

.promptField {
  width: 100%;
  padding: 20px;
}

.promptResponse {
  height: 50vh;
  padding: 20px;
  overflow: auto;
  background-color: aqua;
}
