.container {
  width: 100%;
  max-width: 800px;
  height: 600px;
  background: white;
  border-radius: 1rem;
  box-shadow: 0 20px 25 -5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  background: white;
  color: white;
  padding: 1.5rem;
  text-align: center;
}
